<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--the angle for zero padding range, default is 350 degree, must less than 360-->
    <add key="ZeroPaddingRange" value="350"/>
    <!--export pdf or not-->
    <add key="outputPDF" value="true"/>
    <!--PDF save path,  0 for automatic, 
                        1 use the PDF-ALL path, 
                        2 use the default setting in Calypso Environment
                        3 use the customer path-->
    <add key="PDF_PATH_MODE" value="2"/>
    <!--customer define path for pdf reports
        %Calypso% means the the install path of the calypso
        %default% means the setting in the Claypso
        %inspection% means the program name 
        %number% means the increatmental part number-->
    <add key="customerPDFpath" value="%default%\%inspection%\part_%number%.pdf"/>
    <add key="NoResult" value="5"/>
    <add key="minPoints" value ="400"/>
    <!--tolerance mode
        0 polinomial mode
        1 RTA Curve mode-->
    <add key="tolMode" value="0"/>

    <add key="R" value="12"/>
    <add key="n0" value="0.7"/>
    <add key="k" value="1"/>

  </appSettings>
</configuration>
